@import 'node_modules/bootstrap/scss/bootstrap';

@import 'colours';
@import 'header';

#hero {
    height: 550px;
    width: 100%;
    background-image: url('images/hero.jpeg');

    h1 {
        color: $light;
    }
}